<div  class="container-fluid w-100 h-100">
  <!-- <div *ngIf="currentChat.id" class="container-fluid w-100 d-flex"> -->
    <!-- <section  class="container-fluid"> -->
    

          <div class="row px-4 py-2 h-100">
            <div class="col-md-3" >
              <div class="card-header d-flex justify-content-between align-items-center p-3"
              style="border-top: 4px solid #80828c;">
              <h5 class="mb-0">Users</h5>
            </div>
            <div class="row mt-3 mx-1" *ngFor="let user of chatService.onlineUsers">
              <div class="col">
                <div class="d-grid">
                  <button type="button" class="btn btn-success card-text btn-block" (click)="openPrivateChat(user)"
                  [ngClass]="{'btn-info': user == loggedInUsername}" [disabled]="user == loggedInUsername">{{user | UserButton}}</button>
                </div>
              </div>
            </div>
            </div>
            <div class="col-md-9">
              <div class="card-header d-flex justify-content-between align-items-center p-3"
                style="border-top: 4px solid #80828c;">
                <h5 class="mb-0">Chat messages</h5>
                <h6 class="mb-0 fw-bolder">{{loggedInUsername | uppercase}}</h6>
              </div>
              <div class="card-body overflow-auto" data-mdb-perfect-scrollbar-init style="position: relative; height: 500px ">          
                <message-details *ngFor="let message of chatService.messages" [messageData]="message">
                </message-details>  
              </div>
              <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">  
                <div class="input-group mb-0">
                  <input type="text" class="form-control" placeholder="Type message" name="messageText"
                    aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="messageText"/>
                  <button class="btn btn-success" type="button" id="button-addon2" style="padding-top: .55rem;" (click)="sendMessage()" [disabled]="!messageText">
                    Send
                  </button>
                </div>
              </div>
            </div>
    
          </div>

    
    <!-- </section> -->
  <!-- </div> -->

  <!-- <div *ngIf="!currentChat.id">
    <br />
    <p>Cannot access this chat...</p>
  </div> -->
</div>
